<div class="row">

    <div class="col-md-6 mb-3">
        <label class="form-label">
            Category <span class="text-danger">*</span>
        </label>

        {{ form.category }}

        {% if form.category.errors %}
            <div class="text-danger small mt-1">
                {{ form.category.errors.0 }}
            </div>
        {% endif %}
    </div>


    <div class="col-md-6 mb-3">
        <label class="form-label">
            Product Name <span class="text-danger">*</span>
        </label>

        {{ form.name }}

        {% if form.name.errors %}
            <div class="text-danger small mt-1">
                {{ form.name.errors.0 }}
            </div>
        {% endif %}
    </div>


    <div class="col-md-6 mb-3">
        <label class="form-label">
            SKU <span class="text-danger">*</span>
        </label>

        {{ form.sku }}

        {% if form.sku.errors %}
            <div class="text-danger small mt-1">
                {{ form.sku.errors.0 }}
            </div>
        {% endif %}
    </div>


    <div class="col-12 mb-3">

        <label class="form-label">
            Product Image
        </label>

        {{ form.image }}

        {% if product and product.image %}
            <div class="mt-3">

                <img
                    src="{{ product.image.url }}"
                    class="img-thumbnail"
                    width="150"
                    alt="{{ product.name }}"
                >

            </div>
        {% endif %}

        {% if form.image.errors %}
            <div class="text-danger small mt-1">
                {{ form.image.errors.0 }}
            </div>
        {% endif %}

    </div>


    <div class="col-12 mb-3">

        <label class="form-label">
            Short Description
        </label>

        {{ form.short_description }}

        {% if form.short_description.errors %}
            <div class="text-danger small mt-1">
                {{ form.short_description.errors.0 }}
            </div>
        {% endif %}

    </div>


    <div class="col-12 mb-3">

        <label class="form-label">
            Description
        </label>

        {{ form.description }}

        {% if form.description.errors %}
            <div class="text-danger small mt-1">
                {{ form.description.errors.0 }}
            </div>
        {% endif %}

    </div>


    <div class="col-md-6 mb-3">

        <div class="form-check form-switch mt-4">

            {{ form.featured }}

            <label
                class="form-check-label"
                for="{{ form.featured.id_for_label }}"
            >
                Featured Product
            </label>

        </div>

    </div>


    <div class="col-md-6 mb-3">

        <label class="form-label">
            Status
        </label>

        {{ form.status }}

        {% if form.status.errors %}
            <div class="text-danger small mt-1">
                {{ form.status.errors.0 }}
            </div>
        {% endif %}

    </div>

</div>


<hr class="my-4">

<div class="d-flex align-items-center justify-content-between mb-3">

    <div>
        <h3 class="card-title mb-1">
            Price & Stock Variations
        </h3>

        <div class="text-secondary">
            Add grade, size, quantity, price and available stock.
        </div>
    </div>

    <button
        type="button"
        class="btn btn-primary btn-sm"
        id="add-price-row"
    >
        + Add Variation
    </button>

</div>


{{ price_formset.management_form }}

{% if price_formset.non_form_errors %}
    <div class="alert alert-danger">
        {{ price_formset.non_form_errors }}
    </div>
{% endif %}


<div class="table-responsive">

    <table class="table table-vcenter">

        <thead>
            <tr>
                <th>
                    Grade / Size / Quantity
                </th>

                <th style="width: 170px;">
                    Price
                </th>

                <th style="width: 160px;">
                    Stock
                </th>

                <th style="width: 150px;">
                    Unit
                </th>

                <th style="width: 80px;">
                    Action
                </th>
            </tr>
        </thead>


        <tbody id="price-formset-body">

            {% for price_form in price_formset %}

                <tr class="price-form-row">

                    <td>

                        {{ price_form.id }}

                        {{ price_form.name }}

                        {% if price_form.name.errors %}
                            <div class="text-danger small mt-1">
                                {{ price_form.name.errors.0 }}
                            </div>
                        {% endif %}

                    </td>


                    <td>

                        <div class="input-group">

                            <span class="input-group-text">
                                ₹
                            </span>

                            {{ price_form.price }}

                        </div>

                        {% if price_form.price.errors %}
                            <div class="text-danger small mt-1">
                                {{ price_form.price.errors.0 }}
                            </div>
                        {% endif %}

                    </td>


                    <td>

                        {{ price_form.stock }}

                        {% if price_form.stock.errors %}
                            <div class="text-danger small mt-1">
                                {{ price_form.stock.errors.0 }}
                            </div>
                        {% endif %}

                    </td>


                    <td>

                        {{ price_form.stock_unit }}

                        {% if price_form.stock_unit.errors %}
                            <div class="text-danger small mt-1">
                                {{ price_form.stock_unit.errors.0 }}
                            </div>
                        {% endif %}

                    </td>


                    <td class="text-center">

                        <div class="d-none">
                            {{ price_form.DELETE }}
                        </div>

                        <button
                            type="button"
                            class="btn btn-outline-danger btn-sm remove-price-row"
                            title="Remove variation"
                        >
                            ×
                        </button>

                    </td>

                </tr>

            {% endfor %}

        </tbody>

    </table>

</div>


<template id="empty-price-form-template">

    <tr class="price-form-row">

        <td>

            {{ price_formset.empty_form.id }}

            {{ price_formset.empty_form.name }}

        </td>


        <td>

            <div class="input-group">

                <span class="input-group-text">
                    ₹
                </span>

                {{ price_formset.empty_form.price }}

            </div>

        </td>


        <td>

            {{ price_formset.empty_form.stock }}

        </td>


        <td>

            {{ price_formset.empty_form.stock_unit }}

        </td>


        <td class="text-center">

            <div class="d-none">
                {{ price_formset.empty_form.DELETE }}
            </div>

            <button
                type="button"
                class="btn btn-outline-danger btn-sm remove-price-row"
                title="Remove variation"
            >
                ×
            </button>

        </td>

    </tr>

</template>